body{
    background-image: url("map.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1{
    color: white;
}
h2{
    color: white;
}
p{
    color: white;
}
#main_button {
    background-color: rgb(238, 31, 16);
    border: none;
    width: 19.5%;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius:12px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  #main_button:hover {
    background-color: rgb(0, 188, 245); /* Green */
    color: rgb(0, 0, 0);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  #levi_button {
    background-color: rgb(202, 167, 52);
    border: none;
    width: 19%;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius:12px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  #levi_button:hover {
    background-color: rgb(0, 188, 245); /* Green */
    color: rgb(0, 0, 0);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  #kristof_button {
    background-color: rgb(174, 46, 185);
    border: none;
    width: 19%;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius:12px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  #kristof_button:hover {
    background-color: rgb(0, 188, 245); /* Green */
    color: rgb(0, 0, 0);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  #panni_button {
    background-color: rgb(46, 56, 192);
    border: none;
    width: 19%;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius:12px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  #panni_button:hover {
    background-color: rgb(0, 188, 245); /* Green */
    color: rgb(0, 0, 0);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  #peter_button {
    background-color: #4CAF50;
    border: none;
    width: 19%;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius:12px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  #peter_button:hover {
    background-color: rgb(0, 188, 245); /* Green */
    color: rgb(0, 0, 0);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  #panni2_button {
      background-color: #003300;
      color: #ff33cc;
      border: none;
      text-align: center;
      padding: 15px 32px;
  }
  #peter2_button {
    background-color: #003300;
    color: #ff33cc;
    border: none;
    text-align: center;
    padding: 15px 32px;
  }
  #kristof2_button {
    background-color: #003300;
    color: #ff33cc;
    border: none;
    text-align: center;
    padding: 15px 32px; 
  }
  #levi2_button {
    background-color: #003300;
    color: #ff33cc;
    border: none;
    text-align: center;
    padding: 15px 32px;
  }
  #main2_button {
    background-color: #003300;
    color: #ff33cc;
    border: none;
    text-align: center;
    padding: 15px 32px;
  }